<h2>  </h2>

<h2 class="col-md-3"> {{tavernName}}</h2> 


    <button class="float-right" btn btn-seconday (click)="AddRoom()">
    Add Room
    </button>


<div class="row">
    <div>
    <label for="search">Search: </label>
    <input class="form-conrtol" id="search" (keyup)="search($event)"
    [(ngModel)]="searchText" placeholder="Enter Room Name"/>
    </div>
    <div class="col-3-md">
        <div class="float-right">
        <button>Search</button>
        </div>
    </div>
</div>

<br>

<ul class="list-group">
    <div>
        <div>
            <li *ngFor="let r of rlist"  
            
            class="list-group-item d-flex justify-content-between" [value]="r.ID"> 
                <p>{{r.RoomName}}</p> 
                <p>$ {{r.DailyRate}} </p> 
            </li>
        </div>
    </div>
</ul>

<ul class="list-group">
    <div>
        <div>
            <li *ngFor="let r of rlist"   
            class="list-group-item d-flex justify-content-between"
            [routerLink]="'/room/' + r.ID"
            > 
            <p>{{r.RoomName}}</p> 
            <p>$ {{r.DailyRate}} </p> 
            </li>
        </div>
    </div>
</ul>
