<h2> {{showSignUp ? 'Sign Up' : 'Login'}} </h2> 
<form>
  <div class="row">
    <div class="col-md-6">
      <label>Admin User &nbsp; </label>
      <input type="checkbox">
      <br>
      <select ng-ngModel="Taverns" ng-options="x.taverns for x in Taverns">

      </select>
      <br>

      <input type="text" class="form-control" [(ngModel)]="tavern" name="tavernName" />
      <label>Tavern Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" />
    </div>
    <div class="col-md-6"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <button *ngIf="!showSignUp" type="submit" class="btn btn-primary" (click)="login()">
        Submit
      </button>
      <button *ngIf="showSignUp" type="submit" class="btn btn-primary" (click)="login()">
        SignUp
      </button>
      <button type="submit" class="btn btn-secondary float-right" (click)="toggleSignUp()">
        {{ showSignUp ? 'Cancel' : 'SignUp'}}
      </button>
    </div>
  </div>
</form>