<h2> {{showSignUp ? 'Sign Up' : 'Login'}} </h2> 
<form>
  <div class="row">
    <div class="col-md-6">
      <label>Admin User &nbsp; </label>
      <input type="checkbox"  (click)="Checkbox()">
      <br>
      <label  *ngIf="checkboxchecked"> Tavern Name</label>
      <input *ngIf="checkboxchecked" type="text" class="form-control" [(ngModel)]="tavern" name="tavernName" />
      
      <br>
      <select [(ngModel)] ="selected" *ngIf="!showSignUp" name="selected" class="form-control" > 
        <option [ngValue]="undefined" disabled>Select Any </option>
          <option *ngFor="let t of tlist" 
          [ngValue]="tlist"> {{t.Name}} </option>
        </select>
        <h3>{{selected | json}} </h3>

      <label>User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" />
    </div>
    <div class="col-md-6"></div>
  </div>
  <br />
  <div class="row">
    
  <div *ngIf="showSignUp" class="rom col-md-6">
    <label> Email</label>
    <input type="text" class="form-control" [(ngModel)]="tavern" name="emailAddress"/>
    <label> First Name</label>
    <input type="text" class="form-control" [(ngModel)]="tavern" name="fname"/>
    <label> Last Name</label>
    <input type="text" class="form-control" [(ngModel)]="tavern" name="lname"/>
    <label> Phone</label>
    <input type="text" class="form-control" [(ngModel)]="tavern" name="phonenumb"/>
  </div>

  <h3></h3>

    <div class="col-md-6">
      <button *ngIf="!showSignUp" type="submit" class="btn btn-primary" (click)="login()">
        Submit
      </button>
      <button *ngIf="showSignUp" type="submit" class="btn btn-primary" (click)="SignUp()">
        SignUp
      </button>
      <button type="submit" class="btn btn-secondary float-right" (click)="toggleSignUp()">
        {{ showSignUp ? 'Cancel' : 'SignUp'}}
      </button>
    </div>
  </div>
</form>